
:root{
    --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-accent: "Fira Code", monospace
}
:root{
    --mobile: 768px;
    --reading-width: 1000px
}
:root{
    --font-xx: 0.60rem;
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-r-s: 1.00rem;
    --font-r: 1.00rem;
    --font-m: 1.125rem;
    --font-l: 2.00rem;
    --font-xl-l: 3.75rem;
    --font-xl: 3.75rem;
    --size-4-: 0.25rem;
    --size-3-: 0.35rem;
    --size-2-: 0.50rem;
    --size-1x: 1.00rem;
    --size-2x: 2.00rem;
    --size-3x: 3.00rem;
    --size-4x: 4.00rem;
    --size-5x: 5.00rem;
    --size-6x: 7.00rem;
    --size-7x: 10.00rem
}
@media screen and (max-width: 767px){
    :root{
        --font-xx: 0.60rem;
        --font-xs: 0.75rem;
        --font-s: 0.875rem;
        --font-r-s: 0.875rem;
        --font-r: 0.95rem;
        --font-m: 1.00rem;
        --font-l: 2.00rem;
        --font-xl-l: 2.00rem;
        --font-xl: 2.75rem;
        --size-4-: 0.25rem;
        --size-3-: 0.35rem;
        --size-2-: 0.50rem;
        --size-1x: 1.00rem;
        --size-2x: 1.50rem;
        --size-3x: 2.00rem;
        --size-4x: 3.00rem;
        --size-5x: 4.00rem;
        --size-6x: 5.50rem;
        --size-7x: 7.00rem
    }
}
:root[data-theme=dark]{
    --primary-bright: #ffffff;
    --primary: #bfbfbf;
    --primary-dim: #888889;
    --primary-dim2: #262627;
    --primary-dark: #141415;
    --secondary: #16a34a;
    --secondary-bright: #16a34a;
    --background: #060708;
    --background-dim: #08090a;
    --background-dim2: #0e0f11;
    --neon-1-1: #16a34a60;
    --neon-1-2: #16a34a40;
    --neon-2-1: #16a34a20;
    --neon-2-2: #16a34a00;
    --icon-bright: #ffffff;
    --brightness-low: 100%;
    --brightness-high: 100%;
    --mesh-color-1: #060708;
    --mesh-color-2: #030408;
    --mesh-color-3: #05070a;
    --mesh-color-4: #0c1019;
    color-scheme:dark
}
:root[data-theme=light],:root[data-theme=undefined]{
    --primary-bright: #000000;
    --primary: #404040;
    --primary-dim: #777778;
    --primary-dim2: #d9d9d8;
    --primary-dark: #ebebeb;
    --secondary: #1d4ed8;
    --secondary-bright: #1d4ed8;
    --background: #f9f8f7;
    --background-dim: #f7f6f5;
    --background-dim2: #f1f0ee;
    --neon-1-1: #2563eb;
    --neon-1-2: #60a5fa;
    --neon-2-1: #3b0764;
    --neon-2-2: #6b21a8;
    --icon-bright: #000000;
    --brightness-low: 100%;
    --brightness-high: 100%;
    --mesh-color-1: #f9f8f7;
    --mesh-color-2: #faf9f8;
    --mesh-color-3: #faf8f7;
    --mesh-color-4: #f3efed;
}
:root[data-theme=unicorn]{
    --primary-bright: #ffffff;
    --primary: #ffffff;
    --primary-dim: #ffffff;
    --primary-dim2: #ffffff;
    --primary-dark: #000000;
    --secondary: #ffffff;
    --secondary-bright: #000000;
    --background: #000000;
    --background-dim: #000000;
    --background-dim2: #000000;
    --neon-1-1: #999999;
    --neon-1-2: #222222;
    --neon-2-1: #999999;
    --neon-2-2: #222222;
    --icon-bright: #ffffff;
    --brightness-low: 100%;
    --brightness-high: 100%;
    --mesh-color-1: #000000;
    --mesh-color-2: #000000;
    --mesh-color-3: #000000;
    --mesh-color-4: #000000;
}
